# Lab 8: Support Vector Machines (SVM)

In [156]:
!pip install seaborn

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: C:\Users\Rishita\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: seaborn in c:\users\rishita\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\rishita\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from seaborn) (2.1.2)
Requirement already satisfied: pandas>=1.2 in c:\users\rishita\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\rishita\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\rishita\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\rishita\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\rishita\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\rishita\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\rishita\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\rishita\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\rishita\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\rishita\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rishita\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rishita\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\rishita\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

In [157]:
import numpy as np
import pandas as pd
#import matplotlib.pyplot as plt
#import seaborn as sns
from sklearn.model_selection import train_test_split

## Step 1: Exploratory Data Analysis (EDA)

In [158]:
data=pd.read_csv('C:\\Users\\Rishita\\Desktop\\Rishita Desktop Copy\\Machine Learning Lab\\Lab 8\\drug200.csv')

In [159]:
data

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

**Data Exploration**

Splitting data into training and testing

In [160]:
#changing the categorical label to numerical label
# label y as 1 and else as 0
# Define the target variable for binary classification by SVM
data['Target'] = data['Drug'].apply(lambda x: 1 if x == 'DrugY' else 0)
data

     Age Sex      BP Cholesterol  Na_to_K   Drug  Target
0     23   F    HIGH        HIGH   25.355  DrugY       1
1     47   M     LOW        HIGH   13.093  drugC       0
2     47   M     LOW        HIGH   10.114  drugC       0
3     28   F  NORMAL        HIGH    7.798  drugX       0
4     61   F     LOW        HIGH   18.043  DrugY       1
..   ...  ..     ...         ...      ...    ...     ...
195   56   F     LOW        HIGH   11.567  drugC       0
196   16   M     LOW        HIGH   12.006  drugC       0
197   52   M  NORMAL        HIGH    9.894  drugX       0
198   23   M  NORMAL      NORMAL   14.020  drugX       0
199   40   F     LOW      NORMAL   11.349  drugX       0

[200 rows x 7 columns]

In [161]:
data = data.drop("Drug", axis=1)

In [162]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [163]:
# converting the categorical data to numerical data
le_sex = LabelEncoder()
data['Sex'] = le_sex.fit_transform(data['Sex'])

df = pd.get_dummies(data, drop_first=True)
df

     Age  Sex  Na_to_K  Target  BP_LOW  BP_NORMAL  Cholesterol_NORMAL
0     23    0   25.355       1   False      False               False
1     47    1   13.093       0    True      False               False
2     47    1   10.114       0    True      False               False
3     28    0    7.798       0   False       True               False
4     61    0   18.043       1    True      False               False
..   ...  ...      ...     ...     ...        ...                 ...
195   56    0   11.567       0    True      False               False
196   16    1   12.006       0    True      False               False
197   52    1    9.894       0   False       True               False
198   23    1   14.020       0   False       True                True
199   40    0   11.349       0    True      False                True

[200 rows x 7 columns]

In [164]:
df

     Age  Sex  Na_to_K  Target  BP_LOW  BP_NORMAL  Cholesterol_NORMAL
0     23    0   25.355       1   False      False               False
1     47    1   13.093       0    True      False               False
2     47    1   10.114       0    True      False               False
3     28    0    7.798       0   False       True               False
4     61    0   18.043       1    True      False               False
..   ...  ...      ...     ...     ...        ...                 ...
195   56    0   11.567       0    True      False               False
196   16    1   12.006       0    True      False               False
197   52    1    9.894       0   False       True               False
198   23    1   14.020       0   False       True                True
199   40    0   11.349       0    True      False                True

[200 rows x 7 columns]

In [165]:
# Calculate the correlation matrix
correlation_matrix = df.corr()

drug_correlation = correlation_matrix['Target'].drop('Target')

print(drug_correlation)

Age                  -0.031434
Sex                  -0.066724
Na_to_K               0.797612
BP_LOW                0.018942
BP_NORMAL            -0.084656
Cholesterol_NORMAL   -0.002712
Name: Target, dtype: float64

In [166]:
train_data, test_data = train_test_split(df, test_size=0.2)
train_data, test_data

(     Age  Sex  Na_to_K  Target  BP_LOW  BP_NORMAL  Cholesterol_NORMAL
 160   30    0   10.443       0   False       True               False
 188   65    1   34.997       1   False      False                True
 141   64    0   25.741       1    True      False                True
 152   55    1    7.261       0   False       True                True
 11    34    0   19.199       1   False      False                True
 ..   ...  ...      ...     ...     ...        ...                 ...
 78    19    0   13.313       0   False      False               False
 171   45    1   10.017       0    True      False                True
 70    70    1   13.967       0   False      False               False
 5     22    0    8.607       0   False       True               False
 96    58    0   38.247       1    True      False               False

 [160 rows x 7 columns],
      Age  Sex  Na_to_K  Target  BP_LOW  BP_NORMAL  Cholesterol_NORMAL
 190   58    1   18.991       1   False      False               False
 84    47    0   10.067       0    True      False               False
 24    33    0   33.486       1    True      False               False
 59    34    1   18.703       1   False      False               False
 80    60    1   13.934       0   False      False               False
 105   37    1    8.968       0    True      False                True
 93    42    0   29.271       1    True      False                True
 161   57    0    9.945       0   False      False                True
 151   68    1   11.009       0   False      False               False
 199   40    0   11.349       0    True      False                True
 126   66    1   16.347       1   False      False               False
 130   70    0   20.489       1   False       True               False
 12    43    1   15.376       1    True      False               False
 115   51    1   18.295       1   False      False               False
 129   32    0    7.477       0   False       True               False
 181   59    0   13.884       0   False       True               False
 189   64    1   20.932       1   False      False                True
 164   16    1   19.007       1   False      False                True
 46    37    0   13.091       0   False      False               False
 30    18    0    8.750       0   False       True                True
 90    62    1   16.594       1   False       True               False
 120   28    1   27.064       1   False       True               False
 145   61    1    9.443       0   False       True               False
 21    63    1   25.917       1   False       True               False
 175   73    0   18.348       1   False      False               False
 131   52    1   32.922       1    True      False                True
 137   35    0   12.894       0   False      False               False
 124   53    0   12.495       0   False      False                True
 107   42    1   20.013       1    True      False               False
 41    58    0   14.239       0   False      False                True
 29    45    1   17.951       1    True      False               False
 75    26    1   20.909       1    True      False                True
 77    26    0   19.161       1   False      False                True
 197   52    1    9.894       0   False       True               False
 155   49    1   10.537       0    True      False               False
 17    43    1   13.972       0   False      False               False
 98    20    1   35.639       1   False      False                True
 123   36    0   16.753       1   False       True               False
 56    65    1   11.340       0   False      False                True
 91    41    1   15.156       1   False      False                True)

In [167]:
train_data["Drug"] = [-1 if x == 0 else 1 for x in train_data["Target"]]
test_data["Drug"] = [-1 if x == 0 else 1 for x in test_data["Target"]]
train_data, test_data

(     Age  Sex  Na_to_K  Target  BP_LOW  BP_NORMAL  Cholesterol_NORMAL  Drug
 160   30    0   10.443       0   False       True               False    -1
 188   65    1   34.997       1   False      False                True     1
 141   64    0   25.741       1    True      False                True     1
 152   55    1    7.261       0   False       True                True    -1
 11    34    0   19.199       1   False      False                True     1
 ..   ...  ...      ...     ...     ...        ...                 ...   ...
 78    19    0   13.313       0   False      False               False    -1
 171   45    1   10.017       0    True      False                True    -1
 70    70    1   13.967       0   False      False               False    -1
 5     22    0    8.607       0   False       True               False    -1
 96    58    0   38.247       1    True      False               False     1

 [160 rows x 8 columns],
      Age  Sex  Na_to_K  Target  BP_LOW  BP_NORMAL  Cholesterol_NORMAL  Drug
 190   58    1   18.991       1   False      False               False     1
 84    47    0   10.067       0    True      False               False    -1
 24    33    0   33.486       1    True      False               False     1
 59    34    1   18.703       1   False      False               False     1
 80    60    1   13.934       0   False      False               False    -1
 105   37    1    8.968       0    True      False                True    -1
 93    42    0   29.271       1    True      False                True     1
 161   57    0    9.945       0   False      False                True    -1
 151   68    1   11.009       0   False      False               False    -1
 199   40    0   11.349       0    True      False                True    -1
 126   66    1   16.347       1   False      False               False     1
 130   70    0   20.489       1   False       True               False     1
 12    43    1   15.376       1    True      False               False     1
 115   51    1   18.295       1   False      False               False     1
 129   32    0    7.477       0   False       True               False    -1
 181   59    0   13.884       0   False       True               False    -1
 189   64    1   20.932       1   False      False                True     1
 164   16    1   19.007       1   False      False                True     1
 46    37    0   13.091       0   False      False               False    -1
 30    18    0    8.750       0   False       True                True    -1
 90    62    1   16.594       1   False       True               False     1
 120   28    1   27.064       1   False       True               False     1
 145   61    1    9.443       0   False       True               False    -1
 21    63    1   25.917       1   False       True               False     1
 175   73    0   18.348       1   False      False               False     1
 131   52    1   32.922       1    True      False                True     1
 137   35    0   12.894       0   False      False               False    -1
 124   53    0   12.495       0   False      False                True    -1
 107   42    1   20.013       1    True      False               False     1
 41    58    0   14.239       0   False      False                True    -1
 29    45    1   17.951       1    True      False               False     1
 75    26    1   20.909       1    True      False                True     1
 77    26    0   19.161       1   False      False                True     1
 197   52    1    9.894       0   False       True               False    -1
 155   49    1   10.537       0    True      False               False    -1
 17    43    1   13.972       0   False      False               False    -1
 98    20    1   35.639       1   False      False                True     1
 123   36    0   16.753       1   False       True               False     1
 56    65    1   11.340       0   False      False                True    -1
 91    41    1   15.156       1   False      False                True     1)

In [168]:
train_data.drop("Target", axis=1, inplace=True)
test_data.drop("Target", axis=1, inplace=True)

In [169]:
#might apply standard scalar on the age and na_k columns
x_train = train_data.drop("Drug", axis=1)
y_train = train_data["Drug"]
x_test = test_data.drop("Drug", axis=1)
y_test = test_data["Drug"]

In [180]:
len(x_test), len(y_test)

(40, 40)

## Step 2: SVM Implementation from Scratch (Binary Classification)
You will now implement the Linear SVM for binary classification using the hinge loss and gradient descent for DrugY versus the rest.

Tasks:

1. Initialize weights, bias, and learning rate.
2. Implement the gradient descent update rule for the SVM.
3. Train the SVM using the hinge loss function.
4. Evaluate the model on the test set.

In [170]:
# hyperplane = wTx+b = 0

In [200]:
import numpy as np

# SVM Parameters

class LinearSVM:
    def __init__(self, num_iter=100, C = 1.0, learning_rate = 0.01):
        self.num_iter = num_iter
        self.alpha = learning_rate
        self.C = C
        self.weights = None
        self.bias = None
        


    # Initialize weights and bias
    def fit(self, X, y):
        print("self.C", self.C)
        num_samples, num_features = X.shape
        self.weights = np.zeros(num_features)
        self.bias = 0


        for _ in range(self.num_iter):
            # Gradient Descent
            dw, db = self.gradient(X,y)
            self.weights = self.weights- self.alpha * dw
            self.bias =self.bias- self.alpha * db


    # Hinge Loss function
    def hinge_loss(self, X, y):
        term = 1-y*(np.dot(X, self.weights)+self.bias)
        slack = np.maximum(0, term)
        return self.C *np.sum(slack) #hinge loss
        #return NotImplementedError

    # Gradient Descent Update
    def gradient(self, X, y):
        #yi*(Wâ‹…xi+b)<1 checks if the data point xi is either misclassified or within the margin. 
        # If this condition is true, it contributes to the hinge loss. If it's false, the data point is correctly classified and outside the margin, contributing no loss (assuming no regularization).
        #regularization loss differentiation is added to the gradient
        dw = np.zeros(len(self.weights))
        db = 0
        for i in range(len(y)):
            if y[i]*(np.dot(X[i], self.weights)+self.bias) < 1:
                dw = dw-y[i]*X[i]
                db = db-y[i]
        print(self.C)
        C = self.C
        dw = dw + (1/(2*C))*self.weights
        #averaging the gradients
        dw = dw/len(y)
        db = db/len(y)
        return dw, db

    # Prediction Function
    def predict(self, X):
        y_pred = np.dot(X,self.weights)+self.bias
        return [1 if y_pred[i]>=0 else -1 for i in range(len(y_pred))]


    # Evaluate on Test Set
    def evaluate(self, X, y):
        y_pred = self.predict(X)
        accuracy = np.sum(y_pred == y)/len(y)
        return accuracy

In [172]:
x_train

     Age  Sex  Na_to_K  BP_LOW  BP_NORMAL  Cholesterol_NORMAL
160   30    0   10.443   False       True               False
188   65    1   34.997   False      False                True
141   64    0   25.741    True      False                True
152   55    1    7.261   False       True                True
11    34    0   19.199   False      False                True
..   ...  ...      ...     ...        ...                 ...
78    19    0   13.313   False      False               False
171   45    1   10.017    True      False                True
70    70    1   13.967   False      False               False
5     22    0    8.607   False       True               False
96    58    0   38.247    True      False               False

[160 rows x 6 columns]

## training the model

In [201]:
svm = LinearSVM()
svm.fit(x_train.values, y_train.values)

self.C 1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0

## testing the model

In [202]:
predictions = svm.predict(x_test)
predictions, len(predictions)

([1,
  -1,
  1,
  1,
  -1,
  -1,
  1,
  -1,
  -1,
  1,
  1,
  1,
  1,
  1,
  -1,
  -1,
  1,
  1,
  1,
  1,
  1,
  1,
  -1,
  1,
  1,
  1,
  1,
  -1,
  1,
  1,
  1,
  1,
  1,
  -1,
  -1,
  1,
  1,
  1,
  -1,
  1],
 40)

In [194]:
len(y_test)

40

In [203]:
accuracy = svm.evaluate(x_test.values, y_test.values)   
accuracy

np.float64(0.85)

Compare your performance with inbuilt functions

In [196]:
train_data

     Age  Sex  Na_to_K  BP_LOW  BP_NORMAL  Cholesterol_NORMAL  Drug
160   30    0   10.443   False       True               False    -1
188   65    1   34.997   False      False                True     1
141   64    0   25.741    True      False                True     1
152   55    1    7.261   False       True                True    -1
11    34    0   19.199   False      False                True     1
..   ...  ...      ...     ...        ...                 ...   ...
78    19    0   13.313   False      False               False    -1
171   45    1   10.017    True      False                True    -1
70    70    1   13.967   False      False               False    -1
5     22    0    8.607   False       True               False    -1
96    58    0   38.247    True      False               False     1

[160 rows x 7 columns]

In [204]:
from sklearn.svm import SVC
svm_true = SVC(kernel='linear')
svm_true.fit(x_train.values, y_train.values)
pred = svm_true.predict(x_test)
pred

C:\Users\Rishita\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but SVC was fitted without feature names
  warnings.warn(

array([ 1, -1,  1,  1, -1, -1,  1, -1, -1, -1,  1,  1,  1,  1, -1, -1,  1,
        1, -1, -1,  1,  1, -1,  1,  1,  1, -1, -1,  1, -1,  1,  1,  1, -1,
       -1, -1,  1,  1, -1,  1])

In [205]:
accuracy = np.sum(pred == y_test)/len(y_test)
accuracy

np.float64(1.0)

## Step 3: Impact of Slack Variable
Now, you will explore the effect of the slack variable
C on the performance of your SVM model. Try various values of
C and observe how it impacts the decision boundary and classification performance.

Tasks:

1. Modify the C parameter in the SVM implementation.
2. Train the SVM with different values of C.
3. Evaluate and compare the accuracy for each value of C.

In [199]:
# Different values for C
C_values = [0.01, 0.1, 1.0, 10.0, 100.0]
accuracies = []

for C in C_values:
    # Train the SVM model with the current value of C
    svm = LinearSVM(learning_rate=0.001,C=C)
    svm.fit(x_train.values, y_train.values)

    # Evaluate the model
    accuracy = svm.evaluate(x_test.values, y_test.values)
    accuracies.append(accuracy)
    print(f"C: {C}, Accuracy: {accuracy * 100:.2f}%")

self.C 0.01
0.01
C: 0.01, Accuracy: 47.50%
self.C 0.1
0.1
C: 0.1, Accuracy: 47.50%
self.C 1.0
1.0
C: 1.0, Accuracy: 47.50%
self.C 10.0
10.0
C: 10.0, Accuracy: 47.50%
self.C 100.0
100.0
C: 100.0, Accuracy: 47.50%